@model IEnumerable<FinalProject.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerAddress1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerAddress2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerCreditLimit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerPrimaryContact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerTelephone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerZipcode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerAddress1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerAddress2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerCreditLimit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerPrimaryContact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerTelephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerZipcode)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CustomerID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CustomerID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CustomerID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
