@model IEnumerable<FinalProject.Models.CashAccount>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccountDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankAccountNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AccountDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankAccountNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CashAccountID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CashAccountID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CashAccountID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
