@model IEnumerable<FinalProject.Models.InventoryDiameter>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InventoryDiameterCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InventoryDiameterDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InventoryDiameterCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InventoryDiameterDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InventoryDiameterID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InventoryDiameterID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InventoryDiameterID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
