@model IEnumerable<FinalProject.Models.InventoryComposition>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InventoryCompositionCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InventoryCompositionDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InventoryCompositionCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InventoryCompositionDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InventoryCompositionID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InventoryCompositionID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InventoryCompositionID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
